.swiper{
    overflow: visible;
}

.swiper-button-prev,
.swiper-button-next{
    color: white;
    width: 100px;
    height: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    margin-top: 30px;
    transition: 500ms;
}

.swiper-button-prev{
    left: 0px;
}

.swiper-button-next{
    right: 0px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    background: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev:after,
.swiper-button-next:after{
    font-weight: bold;
    font-size: 2.5rem;
}

.swiper-pagination{
    top: 0px !important;
    text-align: right;
    padding-right: 50px;
    box-sizing: border-box;
    z-index: -1;
}

.swiper-pagination-bullet{
    background: gray;
    width: 20px;
    height: 3px;
    border-radius: 0;
}

.swiper{
    padding-top: 30px;
}